@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@font-face {
  font-family: Degular Display;
  src: url(/fonts/Degular-Medium.1d52003d.woff2);
}
@font-face {
  font-family: Recoleta;
  src: url(/fonts/RecoletaSemiBold.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Degular Display", sans-serif;
  transition: 200ms ease;
}
body {
  background: linear-gradient(256deg, #081f3d, #000d1a);
  color: #3f4550;
  font-size: 18px;
  line-height: 1.6em;
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 1em;
  background-color: #000d1a10;
  backdrop-filter: blur(35px);
  position: sticky;
  top: 0;
  z-index: 3;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    img {
      height: 45px;
    }
    h1 {
      color: #fff;
      font-family: "Recoleta", sans-serif;
      font-size: 24px;
    }
  }
  .links {
    display: flex;
    gap: 1.5em;
    a {
      text-decoration: none;
      color: slategray;
      &:hover {
        color: #0061ff;
      }
    }
    .active {
      color: #fff;
    }
  }
  button {
    padding: 10px 20px;
    background: #0061ff;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    span {
      color: lightgray;
    }
    &:hover {
      border: 2px solid #0061ff;
      background: transparent;
    }
  }
}
.hero {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 8px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.12);
    color: #fff;
    gap: 1em;
    img {
      height: 30px;
    }
  }
  h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    // font-family: 'Inter',sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    text-align: center;
    span {
      background: linear-gradient(256deg, #ff1b6b, #ff930f, #bf0fff, #0061ff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    max-width: 680px;
    margin-bottom: 36px;
    color: rgba(230, 237, 250, 0.6);
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
  }
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    .input {
      height: 50px;
      border-radius: 8px;
      border: none;
      outline: none;
      background-color: #fff;
      cursor: pointer;
      font-size: 16px;
      border: 1px solid #0061ff;
      width: 500px;
      padding: 18px 16px 18px 50px;
    }
    .icon {
      position: absolute;
      left: 0;
      top: 0;
      height: 50px;
      width: 50px;
      border-radius: 10px;
      fill: #0061ff;
    }

    .input:hover + .icon {
      transform: rotate(360deg);
      transition: 0.2s ease-in-out;
    }
  }
  .chips {
    display: flex;
    align-items: center;
    justify-content: center;
    .chip {
      height: 40px;
      width: 40px;
      background-color: #fff;
      margin-right: -15px;
      border-radius: 100%;
      overflow: hidden;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      border: 3px solid #fff;
      img {
        height: 100%;
        width: 100%;
        border-radius: 100%;
      }
    }
    .chip:nth-child(1) {
      background-image: url(https://images.unsplash.com/photo-1623945194105-cd36c4433390?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbGxlZ2UlMjBzdHVkZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    }
    .chip:nth-child(2) {
      background-image: url(https://images.unsplash.com/photo-1529470839332-78ad660a6a82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHN0dWRlbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
    }
    .chip:nth-child(3) {
      background-image: url(https://images.unsplash.com/photo-1525748822304-6807cb1348ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0dWRlbnQlMjBwb3J0cmFpdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
    }
    .chip:nth-child(4) {
      background-image: url(https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3R1ZGVudCUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    }
    p {
      margin: 0 auto;
      margin-left: 1.5em;
    }
  }
}
@media only screen and (min-device-width: 0) and (max-device-width: 767px){
  body{
    padding: 0;
  }
  .topnav{
    .logo{
      h1{
        display: none;
      }
    }
    .links{
      display: none;
    }
  }
  .hero{
    padding: 20px;
    .input-container{
      width: 100%;
      .input{
        height: 50px;
      }
    }
  }
}